.sec-produits {
  width: 85%;
  padding-top: 8%;
  margin: 0 auto;
}
.card {
  border: 1px solid #d6d6d6;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  margin: 3%;
  padding: 3% 2%;
  width: 90%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info-container {
  padding: 10% 5% 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
}
.container-desc{
  display: flex;
  flex-direction: column;
  min-height: 200px;
}

.image-container{
  overflow: hidden;
  max-height: 40%;
}
.card-image { 
  position:absolute;
  top:50%;
  left:50%;   
  cursor:pointer;
  max-width:100%;
  max-height:100%;
  display:table;
}
.centered{
  margin-bottom: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} 
.card-title {
  color: #459baa;
  font-weight: 400;
  font-size: 1.2rem;
}
.card-desc {
  text-align: left;
  font-size: 1rem;
}
.slider {
  padding-left: 1.4%;
}
.modal-image{
  height: 80%;
}
.modal-link{
  color: #459baa;
  /* text-transform: uppercase; */
}
@media screen and (max-width: 1115px) {
  .slider {
    height: 550px;
  }
}
@media screen and (max-width: 660px) {
  .slider {
    height: 600px;
  }
}
@media screen and (max-width: 550px) {
  .slider{
    height: 580px;
    margin-top: 5%;
    padding-left: 4.5%;
  }
}
@media screen and (max-width: 460px) {
  .slider {
    height: 600px;
  }
}




