.sec-produits {
  width: 75%;
  padding-top: 90px;
  margin: 0 auto;
}
.card {
  border: 1px solid #d6d6d6;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  margin: 2%;
  width: 90%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info-container {
  padding: 5%;
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.image-container{
  flex-basis: 40%;
  overflow: hidden;
  border-radius: 5px;

}
.card-image {
  height: 100%;
  margin: auto;
}
.card-image:hover{
  cursor: pointer;
}
.card-title {
  color: #459baa;
  font-weight: 400;
  font-size: 1.2rem;
}
.card-desc {
  text-align: left;
  font-size: 1rem;
}
.slider {
  padding-left: 1.4%;
}
.modal-image{
  height: 80%;
}
.modal-link{
  color: #459baa;
  /* text-transform: uppercase; */
}
@media screen and (max-width: 1115px) {
  .slider {
    height: 550px;
  }
}
@media screen and (max-width: 660px) {
  .slider {
    height: 600px;
  }
}
@media screen and (max-width: 550px) {
  .slider{
    height: 580px;
    margin-top: 5%;
    padding-left: 4.5%;
  }
}
@media screen and (max-width: 460px) {
  .slider {
    height: 600px;
  }
}




