.sec-part{
    width: 70%;
    margin: 0 15% 3% 15%;
    display: flex;
    flex-direction: column;
    padding-top: 90px;
}

.sec-sub-title{
    color: #6b6b6b;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    /* padding-bottom: -1%; */
    margin-bottom: -1%;
}

.partners-row{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
    /* background-color: red; */
    margin-top: 2%;

}

.partners{
    /* height: 100px;
    width: 250px; */
    /* border-radius: 5px; */
    /* background-color: #37517e; */
    transition: transform 500ms;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */

}

.artos {
    padding-top: 3%;
}

.techS{
    padding-top: 10%;
}

.sumake{
    padding-top: 5%;
}

.kortho{
    padding-top: 6%;
}

.aos {
    padding-top: 5%;
}

.hk{
    padding-top: 5%;

}

.grayscale{
    filter: grayscale(100%);
}

.partners:hover{
    transform: translateY(-10px);
    cursor: pointer;
}

.partners:hover .grayscale{
    filter: grayscale(0%);
}





