.sec-quisommesnous {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
}
.staff {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 800px;
}
.spec_line {
  display: flex;
  flex-direction: column;
}
.qsn_subtitles {
  color: #6b6b6b;
  font-size: 1.1em;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1%;
}
.cartes {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  width: 80%;
}
.carte {
  height: 100%;
  width: 32.4%;
}
.carte_ind {
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  height: 210px;
  width: 350px;
  border-radius: 5px;
  transition: transform 800ms;
  display: flex;
}
.carte_ind:hover {
  transform: translateY(-10px);
}
.carte-title {
  color: #37517e;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em;
  font-weight: 700;
  padding-top: 10px;
  text-align: left;
}
.carte-sub-title {
  color: #6b6b6b;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  text-align: left;
  margin-bottom: -10%;
}
.line {
  width: 50%;
}
.profil-photo {
  border-radius: 50%;
  height: 140px;
  filter: grayscale(100%);
  margin-top: 8%;
  margin-left: 2%;
}
.description {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3%;
}
.linkedin-link {
  margin-top: -10%;
  margin-right: 80%;
}
.linkedin-link:hover {
  cursor: pointer;
}
.last_carte {
  margin-left: 34%;
}
.last-carte-linkedin {
  margin-right: 90%;
  margin-top: -5%;
}
