.sec-contact {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding-top: 100px;
}
.content-contact {
  display: flex;
  justify-content: space-around;
  padding: 0 9%;
}
.sec-sub-title {
  color: #6b6b6b;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
}
.contact-sub-title {
  padding-bottom: 3%;
}
.sec {
  background-color: white;
  border-bottom: 3px solid #459baa;
  border-top: 3px solid #459baa;
  margin-bottom: 5%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.coord {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1% 0 ;
}
.contact-coord{
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin-right: 35%;
  margin-bottom: 5%;
}
/* .map{
  border: solid 1px #7c7c7c;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
} */
.form {
  flex-basis: 55%;
  padding: 3%;
}
.sub-sec {
  display: flex;
  justify-content: start;
}
.location_icon {
  margin-left: 8%;
}
.svg_icons {
  margin-top: 5px;
  margin-left: 8%;
}
.desc {
  margin-left: 8%;
}
.subtitle {
  color: #37517e;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em;
  font-weight: 700;
  padding-top: 10px;
  text-align: left;
}
.desc-sub {
  font-family: "Open Sans", sans-serif;
  color: #6182ba;
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
}
.country {
  margin-bottom: -3%;
}
.desc-para {
  text-align: left;
  font-size: 0.9em;
  color: #6182ba;
}
.form_line_1 {
  display: flex;
  justify-content: space-between;
}
.form_group_1 {
  text-align: left;
}
.input_group_1 {
  width: 260px;
}
.form_group {
  text-align: left;
  margin-top: 20px;
}
.input_group {
  width: 550px;
}
.form-label {
  color: #6b6b6b;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
}
.sub-title-form {
  margin-bottom: 2%;
}
.form_button {
  margin-top: 20px;
  margin-bottom: -10px;
}
@media screen and (max-width: 1260px){  
  .form {
    flex-basis: 45%;
  }
  .input_group_1 {
    width: 200px;
  }
  .input_group {
    width: 410px;
  }  
  .content-contact {
  padding: 0;
  }
}
@media screen and (max-width: 925px){ 
  .form_line_1{
    flex-direction: column;
  } 
  .form {
    flex-basis: 40%;
  }
  .input_group_1,
  .input_group {
    width: 310px;
  }    
}
@media screen and (max-width: 820px){ 
  .content-contact{
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
  .contact-coord{
    margin: 3% 0;
  }
  .contact-coord{
    margin-right: 35%;
  }
  .map{
    margin-bottom: 3%;
  }
  .form_line_1{
    margin-left: 3%;
    justify-content: space-between;
  } 
  .input_group_1{
    width: 100%;
  }  
  .form_group{
    margin-left: 3%;
  }
  .input_group {
    width: 100%;
  }
  .email_group{
    margin-top: 2%;
  }
  .form_button{
    margin-bottom: 0.2%;
  }
}
@media screen and (max-width: 320px){ 
  .sec{
    box-shadow: none;
    border: none;
  }
  .contact-sub-title{
    margin-top: 3%;
    font-size: 0.9em ;
  }
  .subtitle{
    font-size: 15px;
  }
}


