.topbar {
  width: 100%;
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  display: flex;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 1;
}
.logo {
  display: flex;
  width: 30%;
  padding: 1% 0 1% 3%;
}
.logo img {
  cursor: pointer;
}
h5 {
  font-size: 1.4em;
}
.nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding: 2.3% 2%;
}
.nav-menu {
  color: #37517e;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}
.nav-menu:hover {
  color: #459baa;
}
.arrow {
  padding: 5px 0 0 5px;
}
.dropdown {
  height: 80px;
  width: 120px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: none;
  font-size: 14px;
  padding: 0.5% 0;
  margin-top: 1.5%;
  text-align: left;
  position: absolute;
  top: 50%;
}
.dropdown li {
  padding: 4% 0 4% 7%;
}
.dropdown li a:hover {
  color: #459baa;
}
.ressources:hover .dropdown {
  display: block;
}
