.sec-apropos {
  padding: 8% 10% 1% 10%;
}
.sec1 {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 2% auto;
}
.art {
  background-color: white;
  width: 30%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 1px solid #e4e4e4;
  color: #6b6b6b;
  height: auto;

}
.more{
  margin: 3% 0;
}
.more::before{
  content: 'Read More';
}
.art.active .more::before{
  content: 'Read Less';
}
.art.active .content{
}
.art.active .content::before{
  display: none;
}
.sub-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
  font-weight: 500;
  color: #459baa;
  text-align: center;
  padding-top: 25px;
  margin: 0;
}
.mini-title{
  color: #459baa;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  text-align: left;
  text-decoration: underline;
}
.desc-apropos {
  font-size: 0.9em;
  line-height: 30px;
  text-align: left;
  padding: 1% 4%;
  margin-bottom: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.img {
  overflow: hidden;
}
@media screen and (max-width: 1040px){ 
  .sec1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
@media screen and (max-width: 960px){  
  .sec1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .art {
    background-color: white;
    width: 30%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 1px solid #e4e4e4;
    color: #6b6b6b;
  }
  .sub-title {
    font-family: "Poppins", sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    color: #459baa;
    text-align: center;
    padding-top: 25px;
    margin: 0;
  }
  .art p {
    font-size: 0.9em;
    line-height: 30px;
    text-align: left;
    padding: 2% 4%;
  }
}
@media screen and (max-width: 850px){  
  .sec1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .art {
    background-color: white;
    width: 90%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 1px solid #e4e4e4;
    color: #6b6b6b;
    margin: 2% auto;
  }
}
