.App {
  text-align: center;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
h2 {
  font-family: "Jost", sans-serif;
}
h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 7.5rem;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 2.5rem;
  height: 3px;
  background: #00538B;
  bottom: 0;
  left: calc(50% - 20px);
}
.section-title {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1%;
  padding-bottom: 2%;
  position: relative;
  color: #37517e;
}
.button {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #459baa;
  cursor: pointer;
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}
.button:hover,
.button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: #459baa;
}
.button:hover {
  transform: translateY(-3px);
}
.button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  color: #459baa;
  transform: translateY(0);
}
.topbar {
  width: 100vw;
  height: 77px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  display: flex;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 2;
}
.logo {
  display: flex;
  width: 40%;
  position: relative;
}
.logo img {
  cursor: pointer;
  margin-top: 2%;  
  width: 85%;
}
h5 {
  font-size: 1.4em;
}
nav {
  position: relative;
  width: 90%;
  padding-right: 2%;
}
.links {
  display: flex;
  justify-content: space-around;
  margin-top: -1.2%;
  width: 100%;
}
.topbar_link {
  position: relative;
  font-size: 1.3rem;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  padding: 1%;
  z-index: 0;
  color: #00538B;
}
.topbar_link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: #00538B;
  transition: 0.5s ease;
  z-index: -5;
  height: 100%;
  border-radius: 8px;
}
.topbar_link:hover,
.active_link_menu {
  color: white;
}
.topbar_link:hover::after,
.active_link_menu::after {
  width: 100%;
}
.dropdown {
  height: 180%;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: none;
  font-size: 0.9rem;
  padding: 5px 0;
  margin-left: -6%;
  text-align: left;
  position: absolute;
  z-index: 1;
  top: 105%;
  animation: myAnim 1s ease 0s 1 normal forwards;
}
@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.dropdown li {
  padding: 4% 0 4% 7%;
}
.dropdown li a {
  font-size: 1rem;
}
.dropdown li a:hover {
  color: #44acbe;
}
.ressources:hover .dropdown {
  display: block;
  transition: all 0.4s;
}
.arrow {
  margin-left: 5px;
}
#ressources:hover .arrow {
  filter: brightness(0) invert(1);
  animation: arrow 1s ease 0s 1 normal forwards;
}
@keyframes arrow {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
.dropdown_link,
.resizable-btn {
  color: #407b91;
}
label #burger-btn,
label #cancel-btn {
  font-size: 40px;
  margin-right: 20px;
  display: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 15%;
}
#check {
  display: none;
}
@media screen and (max-width: 1160px) {
  .links a {
    font-size: 1.1rem;
  }
  .logo{
    width: 40%;
  }
}
@media screen and (max-width: 1040px) {
  .links a {
    font-size: 1rem;
  }
  .logo{
    width: 30%;
  }
  .logo img{
    width: 80%;
    margin: 5.5% 0 0 -12%;
  }
}
@media screen and (max-width: 960px) {
  .topbar {
    width: 100%;
  }
  .logo{
    width: 100%;
  }
  .logo img{
    width: 100%;
    margin: 2% 0 0 4%;
  }
  .links {
    position: relative;
    height: 90vh;
    width: 220%;
    background-color: #407b91;
    top: 65%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    opacity: 0.95;
    margin: 0;
    right: -110%;
    transition: all 0.5s;
  }
  .links a {
    font-size: 1.4rem;
    padding: 2rem;
  }
  .topbar_link {
    color: white;
    position: relative;
    line-height: 10px;
  }
  .topbar_link:hover,
  .active_link_menu {
    color: #44acbe;
  }
  .dropdown {
    height: 20%;
    background-color: #407b91;
    box-shadow: none;
    width: 20%;
    margin-left: 55%;
    margin-top: -3.1%;
    animation: myAnim 2s ease 0s 1 normal forwards;
  }
  @keyframes myAnim {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .dropdown li a {
    color: white;
  }
  #ressources:hover .arrow {
    filter: brightness(0) invert(1);
    animation: arrow 1s ease 0s 1 normal forwards;
  }
  @keyframes arrow {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(90deg);
    }
  }
  label #burger-btn {
    display: block;
  }
  #check:checked ~ .links {
    right: 110%;
  }
  #check:checked ~ label #burger-btn {
    display: none;
  }
  #check:checked ~ label #cancel-btn {
    display: block;
  }
}
@media screen and (max-width: 520px) {
  .logo img{
    display: none;
  }
}
@media screen and (max-width: 350px) {
.section-title {
  font-size: 1.5em;
}

}