.App {
  text-align: center;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
h2 {
  font-family: "Jost", sans-serif;
}
h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 7.5rem;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 2.5rem;
  height: 3px;
  background: #00538B;
  bottom: 0;
  left: calc(50% - 20px);
}
.section-title {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  /* margin-bottom: 5%; */
  padding-bottom: 2%;
  position: relative;
  color: #00538B;
}
.button {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #459baa;
  cursor: pointer;
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}
.button:hover,
.button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: #459baa;
}
.button:hover {
  transform: translateY(-3px);
}
.button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  color: #459baa;
  transform: translateY(0);
}
.topbar {
  width: 100vw;
  height: 77px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  display: flex;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 2;
}
.topbar-menu{
  width: 100%;
  height: 100%;
}
.nav-sidebar{
  display: none;
}
.logo {
  display: flex;
  width: 40%;
  position: relative;
}
.logo img {
  cursor: pointer;
  margin-top: 2%;  
  width: 85%;
}
h5 {
  font-size: 1.4em;
}
nav {
  position: relative;
  width: 90%;
  padding-right: 2%;
}
.links {
  display: flex;
  justify-content: space-around;
  margin-top: 1.2%;
  width: 100%;
}
.topbar_link {
  position: relative;
  font-size: 1.3rem;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  padding: 1%;
  z-index: 0;
  color: #00538B;
}
.topbar_link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: #00538B;
  transition: 0.5s ease;
  z-index: -5;
  height: 100%;
  border-radius: 8px;
}
.topbar_link:hover,
.active_link_menu {
  color: white;
}
.topbar_link:hover::after,
.active_link_menu::after {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  width: 100%;
  background-color: #00538B;
}

@media screen and (max-width: 1160px) {
  .links a {
    margin-top: 2%;
    font-size: 1.1rem;
  }
  .logo{
    width: 40%;
    margin-top: 1%;
  }
}
@media screen and (max-width: 1030px) {  
  .logo{
    margin-top: 1.5%;
  }
}
@media screen and (max-width: 960px) {    
  .topbar{
    display: flex;
    justify-content: space-between;
  }
  .topbar-menu{
    display: none;
  }
  .logo{
    width: 40%;
    margin: auto 0;
  } 
  nav{
    display: none;
  }
  .nav-sidebar{
    display: block;
  }
  .faBars{
    position: relative;
    top: 10px;
    right: 60px;
    z-index: -20;
    font-size: 48px;
    color: #00538B;
  }
  .faBars:hover{
    cursor: pointer;
  }
  .sidebar-menu{
    height: 100vh;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.99);
    position: absolute;
    top: 0;
    right: -100%;
    opacity: 0.98;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.5s ease;  
  }
  .active{
    right: 0;
  }
  .sidebar-menu-items{ 
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
  .sidebar-menu-items li:hover{ 
    cursor: pointer;
  }
  .menu-items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.5rem;
    font-family: 'Jost', sans-serif;
    color: #00538B;  
    height: 90vh;
  }
  .faXmark{
    margin-left: 62%;
    margin-top: 4%;
    font-size: 52px;
    color: #00538B;  
  }
  .sidebar-menu-item{
    font-size: 1.8rem;
  }  
  .sidebar-menu-item::after{
    content: "";
    position: absolute;
    bottom: 100;
    left: 0%;
    width: 0%;
    background-color: #00538B;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 8px;
    height: 10%;
    z-index: -5;
    margin-top: -2%;
    transition: 0.7s ease;
  }
  .menu-items li:hover .sidebar-menu-item::after{
    width: 100%;
  }
  .sidebar-menu-item:hover,
  .menu-items li:hover{
    color: white;
  }
}
@media screen and (max-width: 880px) {
  .faXmark{
    margin-left: 56%;
    margin-top: 4%;
  }
}

@media screen and (max-width: 750px) {
  .faXmark{
    margin-left: 48%;
    margin-top: 5%;
  }
  .logo{
    width: 50%;
  }
  .sidebar-menu-item{
    margin-right: 15%;
    font-size: 1.6rem;
  }
  .sidebar-menu-item::after {
    margin-top: -4%;

  }
  .section-title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .sidebar-menu-item{
    font-size: 1.4rem;
  }
  .faXmark{
    margin-left: 38%;
    margin-top: 6%;
    font-size: 52px;
  }
}

@media screen and (max-width: 550px) {
  .logo{
    width: 50%;
  }
  .faBars{
    font-size: 43px;
  }
  .section-title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 500px) {
  .sidebar-menu-item{
    font-size: 1.2rem;
    font-weight: 500;
  }
  .faXmark{
    margin-left: 28%;
    margin-top: 6%;
  }
}
@media screen and (max-width: 450px) {
  .logo{
    width: 60%;
  }
  .faBars{
    font-size: 38px;
    margin-top: 10%;
  }
}

@media screen and (max-width: 350px) {
  .logo{
    width: 68%;
  }
  .faBars{
    margin-left: 80%;
  }
  .section-title {
    font-size: 1.3rem;
  }
  .quiSommesNous::after{
    margin-top: -20%;
  }
  .sidebar-menu-item{
    /* margin-right: 5%; */
    font-size: 1.1rem;
  }
  .menu-items{
    margin-right: 25%;

  }
}
